.smallText a { font-size:9px; text-decoration:underline; }

.eo-button { background-color: #f3e5ab; padding: 0.3em 0.6em; border: 0.1em solid black; border-radius: 0.3em; cursor: pointer; margin-top: 1em; }
.eo-button a { text-decoration: none; color: black; }
.eo-label { vertical-align: top; font-weight: bold; }
.eo-spacer { height: 1.5em; }
.eo-right { text-align: right; }
.eo-center { text-align: center; }
.eo-left { text-align: left; }
.eo-top { vertical-align: top; }
.eo-top-left { vertical-align: top; text-align: left; }
.eo-top-right { vertical-align: top; text-align: right; }
.eo-wrap { padding: 0.3em 0; }

#eo-main { padding: 0.5em; }

#eo-nav { text-align: center; }
#eo-nav > div { display: inline-block; vertical-align: middle; }
#eo-nav input { width: 6em; margin-top: 0.3em; }

#eo-hdr { padding: 0 1em; }
#eo-hdr div:first-child { float: left; font-size: large; font-weight: bold; font-variant: small-caps; }
#eo-hdr div:last-child { float: right; }
#eo-hdr::after { clear: both; }

#eo-addr { width: 100%; }
#eo-addr input { width: 35em; }

#eo-info .eo-wrap > div { float: left; }
#eo-info .eo-wrap > div:first-child { width: 15em; font-weight: bold; }
#eo-info .eo-wrap, #eo-info::after, #eo-info .eo-wrap > div:last-child::after { clear: both; }

#eo-prods, #eo-totals { width: 100%; }

#eo-stats, #eo-stats td { border: 1px solid #444; border-collapse: collapse; }
#eo-stats td { padding: 0.3em; }

#eo-notify .eo-wrap > div { float: left; }
#eo-notify .eo-wrap > div:first-child { width: 15em; font-weight: bold; }
#eo-notify .eo-wrap, #eo-notify::after, #eo-notify .eo-wrap > div:last-child::after { clear: both; }